.table_stage {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: justify;
    margin: 5em 10% 5em 10%;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}


#description {
    margin: 0% 5% 0% 5%;
}

.table_candidature {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: justify;
    margin: 5em 10% 5em 10%;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}

#liens {
    display: flex;
    margin-left: 70%;
    width: 25%;
    justify-content: space-between;
    text-align: right;
}

#liens a {
    color: #0E8388;
    text-decoration: none;
}