.table_stage {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 5% auto 1% auto;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}


#description {
    margin: 0% 5% 0% 5%;
}

.table_candidature {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: justify;
    margin: 2% auto 5% auto;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}
