.grand td {
    border: 2px solid #0E8388;
}   

#personne {
    justify-content: center;
    width: 10%;
}

#personne img {
    width: 100%;
}

table{
    width: 100%;
}

input {
    margin: 1%;
    font-size: 90%;
    padding: 2%;
    border: 0.5px solid #a4c4bc;
    outline: none;
    border-radius: 5px;
    background-color: #e1f0ed;
    font-family: 'Montserrat', sans-serif;
    width: 98%;
}
.reseaux input{
    height: 10%;
}

.reseaux
{
    width: 100%;
}
 

.icone{
    width: 12%;
}

.reseaux img {
    width: 50%;
    vertical-align: middle;
}

.boutons {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 70%;
    padding: 1% 2%;
    font-size: 125%;
    margin: 0 auto 0% auto;

}

.a:hover {
    background-color: #a5d4d1;
    transition-duration: 0.3s;
}