footer {
    padding: 1em;
    margin-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #5eb8bb58;
    border-radius: 1em;
}

.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    font-size: 0.9em;
    color: #09494b;
    text-decoration: none;
}

.footer a:hover {
    color: #0E8388;
    transition-duration: 0.3s;
}
