:root {
    --tresclair: #CBE4DE;
    --clair: #0E8388;
    --fonce: #2E4F4F;
    --tresfonce: #2C3333;
}


h2 {
    color: var(--fonce);
    margin: 2% 10% 0 5%;
}

.wishlist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2% 10% 2% 5%;
    background-color: #c7eeec;
    border: solid 2px var(--fonce);
    border-radius: 10px;
}

.wishlist a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 2% 0.5% 2%;
}

.entreprise {
    margin-right: 5%;
    text-align: right;
    font-weight: bold;
    color: gray;
}

.statut {
    margin-left: 5%;
    text-align: left;
    font-size: 120%;
    color: gray;
}

.contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    width: 120%;
    padding: 0 2% 2% 2%;
}

.contenu img {
    width: 15%;
    margin-left: 8%;
}

.contenu img:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.titre {
    color: var(--clair);
    font-weight: bold;
    font-size: 130%;
}