.table_stage {
    display: flex;
    width: 80%;
    align-items: center;
    text-align: justify;
    margin: 5em 10% 5em 10%;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}

.page_stage td {
    width: 30em;
    align-items: center;
}

#description {
    margin: 0% 5% 0% 5%;
}