.table_stage {
    display: flex;
    width: 70%;
    align-items: center;
    text-align: justify;
    margin: 5em auto 5em auto;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
}


#description {
    margin: 0% 5% 0% 5%;
}

.bouton-postuler{
    margin-left: 80%;
}
.bouton-postuler td {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    border: 2px solid #0E8388;
    padding: 1em;
}

.bouton-postuler td:hover {
    box-shadow: #5b838382 3px 3px 10px;
    transition-duration: 0.3s;
}

.bouton-postuler td:hover {
    transform: scale(1.025)
}

a {
    color: #0E8388;
    text-decoration: none;
    padding: 1em;
}