.page-profil {
    position: relative;
    /* Ajoutez ceci pour définir la position de référence */
    display: flex;
    width: 80%;
    align-items: center;
    text-align: justify;
    margin: 5em 10% 5em 10%;
    border-spacing: 2em;
    border: 2px solid #0E8388;
    border-radius: 10px;
    transform: scale(0.95);
}



.page-profil td {
    width: 30em;
    align-items: center;
}


.reseaux {
    font-size: 0.7em;
    border-spacing: none;
    padding: none;
    display: inline-block;
    /* Ajoutez cette ligne */
}

.reseaux img {
    width: 3em;
    vertical-align: middle;
    /* Ajoutez cette ligne pour centrer les images */
}

.reseaux a {
    text-decoration: none;
}

.reseaux .icone {
    width: 0;
}

.page-profil .personne {
    justify-content: center;
    width: 30%;
    min-width: 5em;
}

.personne img {
    width: 100%;
}

form input {
    width: 60%;
    margin: 1%;
    font-size: 5%;
    padding: 2% 1%;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.reseaux input {
    width: 60%;
    margin: 1%;
    font-size: 5%;
    padding: 2% 1%;
    border: none;
    border-bottom: 1px solid #645979;
    outline: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

button {
    position: absolute;
    padding: 1% 2%;
    font-size: 125%;
    font-family: 'Montserrat', sans-serif;
    left: 70%;
    bottom: 5%;
    background-color: #ffffff;
    border: 2px solid #0E8388;
    border-radius: 5px;
    margin: 0 auto 5% auto;
}

.a:hover {
    background-color: #a5d4d1;
    transition-duration: 0.3s;
}