/** @format */

:root {
  background-color: #3a3a3a;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: rgb(212, 212, 212);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  margin-left: 1.5rem;
}

h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  margin-left: 1.5rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

p {
  font-size: 2rem;
  line-height: 1.5;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

ul {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  list-style: inside;
  list-style-position: inside;
}

li {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

ol {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    list-style: inside;
    list-style-position: inside;
}

a {
  color: rgb(204, 0, 255);
  font-size: 1.8rem;
}
