body {
    font-family: 'Arial', sans-serif;
    background-color: #CBE4DE;
}


.logo-connexion {
    width: 10%;
}

#img-acceuil {
    width: 20%;
}

.connexion {
    text-align: center                                                                                                                                                                                                                                                                                                                                                                                                                                       ;
}


#conteneur {
    text-align: center;
    width: 100%;
    }
    
    #center .submit {
    margin-top : 10px;
    margin-left: 6.5em;
    padding-left: 0;
    width: 8em;
    }
    
    #center label
    {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
    }
    
    #center input {
    padding-left: 3px;
    width: 9em;
    }

    .p-conf {
        margin-top: 10%;
        text-align: center;
        font-size: 4em;
        color: #0E8388;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.bandeau {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E8388;  
    padding: 1em;
    margin-top: 1%;
}

.bandeau a {
    color: white;
    text-decoration: none;
}
