body {
    font-family: 'Montserrat', sans-serif;
    background-color: #CBE4DE;
    min-width: 700px;
}

.logo-connexion {
    width: 25%;
    margin-bottom: 5%;
}


.connexion {
    text-align: center;
    margin-bottom: 5%;
}

.connexion h1 {
    color: #0E8388;
}

.forms {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    padding: 2% 5% 2% 5%;
    border: 2px solid #0E8388;
    border-radius: 10px;
}

/* pour la connexion */
#conteneur {
    text-align: center;
    width: 100%;
}

#center .submit {
    margin-top: 10px;
    margin-left: 6.5em;
    padding-left: 0;
    width: 8em;
}

#center label {
    width: 6em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

#center input {
    padding-left: 3px;
    width: 9em;
}